<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="_blogFragments::head(~{::title})">
    <title>关于</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="../static/css/pace.css">
    <link rel="stylesheet" href="../static/css/custom.css">
    <link rel="stylesheet" href="../static/css/iconfont.css">
</head>

<body>
<div class="container" th:replace="_blogFragments::menu('about')">
    <header id="site-header">
        <div class="row">
            <div class="col-md-4 col-sm-5 col-xs-8">
                <div class="logo">
                    <h1><a href="index.html">Learn &amp; Record</a></h1>
                </div>
            </div><!-- col-md-4 -->
            <div class="col-md-8 col-sm-7 col-xs-4">
                <nav class="main-nav" role="navigation">
                    <div class="navbar-header">
                        <button type="button" id="trigger-overlay" class="navbar-toggle">
                            <span class="ion-navicon"></span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="cl-effect-11"><a href="index.html" data-hover="首页">首页</a></li>
                            <li class="cl-effect-11"><a href="types.html" data-hover="分类">分类</a></li>
                            <li class="cl-effect-11"><a href="tags.html" data-hover="标签">标签</a></li>
                            <li class="cl-effect-11"><a href="archives.html" data-hover="归档">归档</a></li>
                            <li class="cl-effect-11"><a class="active" href="about.html" data-hover="关于">关于</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>
                <div id="header-search-box">
                    <a id="search-menu" href="#"><span id="search-icon" class="ion-ios-search-strong"></span></a>
                    <div id="search-form" class="search-form">
                        <form role="search" method="get" id="searchform" action="#">
                            <input type="search" placeholder="搜索" required>
                            <button type="submit"><span class="ion-ios-search-strong"></span></button>
                        </form>
                    </div>
                </div>
            </div><!-- col-md-8 -->
        </div>
    </header>
</div>

<div class="content-body">
    <div class="container">
        <div class="row">
            <main class="col-md-12">
                <h1 class="page-title">关于</h1>
                <article class="post">
                    <div class="entry-content clearfix">
                        <figure class="img-responsive-center">
                            <img class="img-responsive" src="../static/images/me.jpg" th:src="@{images/me.jpg}" alt="Developer Image">
                        </figure>
                        <p>
                            努力
                        </p>
                        <div class="height-40px"></div>
                        <h2 class="title text-center">Social</h2>
                        <ul class="social">
                            <li class="github"><a href="#" th:href="#{github.url}"><span class="iconfont icon-github"></span></a></li>
                            <li class="weixin"><a href="#"><span class="iconfont icon-weixin"></span></a></li>
                            <li class="xinlang"><a href="#"><span class="iconfont icon-xinlang"></span></a></li>
                            <li class="zhihu"><a href="#"><span class="iconfont icon-zhihu"></span></a></li>
                        </ul>
                    </div>
                </article>
            </main>
        </div>
    </div>
</div>

<footer id="site-footer" th:replace="_blogFragments::footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="copyright">
                    &copy; 2020 yangrenhao.top &nbsp
                    <a href="http://beian.miit.gov.cn/" target="_blank">粤ICP备20010814号</a> &nbsp
                    <a target="_blank"
                       href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44158102000044"
                       style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
                        <img src="../static/images/beian.png" style="float:left;"/>
                        粤公网安备 44158102000044号
                    </a>
                </p>
            </div>
        </div>
    </div>
</footer>

<!-- Mobile Menu -->
<div class="overlay overlay-hugeinc" th:replace="_blogFragments::mobileMenu">
    <button type="button" class="overlay-close"><span class="ion-ios-close-empty"></span></button>
    <nav>
        <ul>
            <li><a href="index.html">首页</a></li>
            <li><a href="types.html">分类</a></li>
            <li><a href="tags.html">标签</a></li>
            <li><a href="archives.html">归档</a></li>
        </ul>
    </nav>
</div>

<!-- js -->
<!--/*/<th:block th:replace="_blogFragments::script">/*/-->
<script src="../static/js/jquery-2.1.3.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/pace.min.js"></script>
<script src="../static/js/modernizr.custom.js"></script>
<script src="../static/js/script.js"></script>
<!--/*/</th:block>/*/-->
</body>
</html>
