<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="_blogFragments::head(~{::title})">
    <title>搜索结果</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="../static/css/pace.css">
    <link rel="stylesheet" href="../static/css/custom.css">
</head>

<body>
<div class="container" th:replace="_blogFragments::menu('index')">
    <header id="site-header">
        <div class="row">
            <div class="col-md-4 col-sm-5 col-xs-8">
                <div class="logo">
                    <h1><a href="index.html">Learn &amp; Record</a></h1>
                </div>
            </div><!-- col-md-4 -->
            <div class="col-md-8 col-sm-7 col-xs-4">
                <nav class="main-nav" role="navigation">
                    <div class="navbar-header">
                        <button type="button" id="trigger-overlay" class="navbar-toggle">
                            <span class="ion-navicon"></span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="cl-effect-11"><a href="index.html" data-hover="首页">首页</a></li>
                            <li class="cl-effect-11"><a href="types.html" data-hover="分类">分类</a></li>
                            <li class="cl-effect-11"><a href="tags.html" data-hover="标签">标签</a></li>
                            <li class="cl-effect-11"><a href="archives.html" data-hover="归档">归档</a></li>
                            <li class="cl-effect-11"><a href="about.html" data-hover="关于">关于</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>
                <div id="header-search-box">
                    <a id="search-menu" href="#"><span id="search-icon" class="ion-ios-search-strong"></span></a>
                    <div id="search-form" class="search-form">
                        <form role="search" method="get" id="searchform" action="#">
                            <input type="search" placeholder="搜索" required>
                            <button type="submit"><span class="ion-ios-search-strong"></span></button>
                        </form>
                    </div>
                </div>
            </div><!-- col-md-8 -->
        </div>
    </header>
</div>

<div class="content-body">
    <div class="container">
        <h3 class="m-head-padding">
            搜索结果<small th:text="${query}"></small>
        </h3>
        <div class="row col-md-12">
            <article class="post" th:each="blog:${page.content}">
                <header class="entry-header">
                    <h1 class="entry-title">
                        <a href="blog.html" th:href="@{/blogs/{id}(id=${blog.id})}" target="_blank" th:text="${blog.title}">Django 博客开发入门教程：前言</a>
                    </h1>
                    <div class="entry-meta">
                        <span class="post-category"><a href="#" th:text="${blog.type.name}">Django 博客教程</a></span>
                        <span class="post-date" th:text="${#dates.format(blog.updateTime, 'yyyy-mm-dd')}">2017年5月11日</span>
                        <span class="post-author" th:text="${blog.user.nickname}">杨任壕</span>
                        <span class="comments-link" th:text="${#arrays.length(blog.comments)}+' 评论'">4 评论</span>
                        <span class="views-count" th:text="${blog.views}+' 阅读'">588 阅读</span>
                        <span class="" th:text="${blog.flag}">原创</span>
                    </div>
                </header>
                <div class="entry-content clearfix">
                    <p th:text="|${blog.description}......|">免费、中文、零基础，完整的项目，基于最新版 Django 1.10 和 Python 3.5。带你从零开始一步步开发属于自己的博客网站，帮助你以最快的速度掌握 Django
                        开发的技巧...
                    </p>
                    <div class="widget-tag-cloud border">
                        <ul>
                            <li th:each="t:${blog.tags}">
                                <a href="#" th:text="${t.name}" th:href="@{/tags/{id}(id=${t.id})}">flask</a>
                            </li>
                        </ul>
                    </div>
                    <div class="read-more cl-effect-14">
                        <a href="blog.html" th:href="@{/blogs/{id}(id=${blog.id})}" class="more-link">继续阅读<span class="meta-nav">→</span></a>
                    </div>
                </div>
            </article>
            <div style="text-align: center;">
                <div class="pagination">
                    <ul>
                        <li>
                            <a href="" th:href="@{/search(pageNumber=1, query=${query})}">首页</a>
                        </li>
                        <li>
                            <a th:if="${page.hasPrevious()}" href="#"
                               th:href="@{/search(pageNumber=${page.number}, query=${query})}">&laquo;</a>
                            <span th:unless="${page.hasPrevious()}">&laquo;</span>
                        </li>
                        <li th:if="${page.number}-1 > 0">
                            <a th:text="${page.number}-1" href="#"
                               th:href="@{/search(pageNumber=${page.number}-1, query=${query})}">1</a>
                        </li>
                        <li th:if="${page.hasPrevious()}">
                            <a th:text="${page.number}" href="#"
                               th:href="@{/search(pageNumber=${page.number}, query=${query})}">2</a>
                        </li>
                        <li class="current">
                            <a th:text="${page.number}+1" href="#"
                               th:href="@{/search(pageNumber=${page.number}+1, query=${query})}">3</a>
                        </li>
                        <li th:if="${page.hasNext()}">
                            <a th:text="${page.number}+2" href="#"
                               th:href="@{/search(pageNumber=${page.number}+2, query=${query})}">4</a>
                        </li>
                        <li th:if="${page.number}+3 <= ${page.totalPages}">
                            <a th:text="${page.number}+3" href="#"
                               th:href="@{/search(pageNumber=${page.number}+3, query=${query})}">5</a>
                        </li>
                        <li>
                            <a th:if="${page.hasNext()}" href="#"
                               th:href="@{/search(pageNumber=${page.number}+2, query=${query})}">&raquo;</a>
                            <span th:unless="${page.hasNext()}">&raquo;</span>
                        </li>
                        <li>
                            <a href="" th:href="@{/search(pageNumber=${page.totalPages}, query=${query})}">尾页</a>
                        </li>
                        <li>共 [[${page.totalPages}]] 页</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<footer id="site-footer" th:replace="_blogFragments::footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="copyright">
                    &copy; 2020 yangrenhao.top &nbsp
                    <a href="http://beian.miit.gov.cn/" target="_blank">粤ICP备20010814号</a> &nbsp
                    <a target="_blank"
                       href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44158102000044"
                       style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
                        <img src="../static/images/beian.png" style="float:left;"/>
                        粤公网安备 44158102000044号
                    </a>
                </p>
            </div>
        </div>
    </div>
</footer>

<!-- Mobile Menu -->
<div class="overlay overlay-hugeinc" th:replace="_blogFragments::mobileMenu">
    <button type="button" class="overlay-close"><span class="ion-ios-close-empty"></span></button>
    <nav>
        <ul>
            <li><a href="index.html">首页</a></li>
            <li><a href="types.html">分类</a></li>
            <li><a href="tags.html">标签</a></li>
            <li><a href="archives.html">归档</a></li>
        </ul>
    </nav>
</div>

<!-- js -->
<!--/*/<th:block th:replace="_blogFragments::script">/*/-->
<script src="../static/js/jquery-2.1.3.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/pace.min.js"></script>
<script src="../static/js/modernizr.custom.js"></script>
<script src="../static/js/script.js"></script>
<!--/*/</th:block>/*/-->
</body>
</html>
